@charset "utf-8";

html {
	font-family: sans-serif;
	font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#FFF;
}

.container {
	position: relative;
	padding: 60px 50px;
	background: #FFF;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #999;
}

h2 {
	margin-bottom: 30px;
	padding-left: 10px;
	border-left: 7px solid #2E8B57;
}

.input-area {
	margin-bottom: 10px;
	white-space: nowrap;
}

input {
  width: 400px;
  border: 1px solid #111;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
}

.tasks {
	margin-bottom: 100px;
}

button {
	padding: 6px 20px;
	color: white;
	background-color: #4169e1;
	font-size: 1rem;
	border: none;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
}

#add-button {
padding: 6px 20px;
}

.delete-button {
	padding: 6px 10px;
	margin-left: 6px;
	background-color: #B22222;
	font-size: 0.8rem;
}

.complete-button {
	padding: 6px 10px;
  font-size: 0.8rem;
}

.undo-button {
	padding: 6px 10px;
	font-size: 0.8rem;
}

li {
	width: 100%;
	list-style: none;	
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4px 0px;
}

.complete-header {
	background: lightgray;
	padding: 3px 3px;
	color: #555;
	font-size: 1rem;
	font-weight: bold;
}

span {
	font-size: 0px;	/* インライン要素間の不要な改行を削除 */
	white-space: nowrap;
}

